/* Footer Section */
.footer {
    padding: 40px;
    background-color: var(--primary-dark);
}

.footer-sections {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90%;
    margin: auto auto;
}

.foot-section {
    min-width: 100px;
    margin: 20px 0;
}

.foot-link-name {
    margin: 20px 0;
    cursor: pointer;
}

.foot-section .heading {
    text-align: left;
    padding: 0 0 15px 0;
    font-size: 20px;
    font-weight: 600;
}

.footer-logo {
    width: 200px;
}

.hr {
    width: 90%;
    margin: auto auto;
}

.below-footer-links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    width: 90%;
    margin: auto auto;
    color: var(--black);
}

.below-footer-links > li > div {
    color: var(--black);
    font-size: 16px;
    font-weight: 600;
    padding: 0px;
    cursor: pointer;
}

.below-footer-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.below-footer-section div {
    font-size: 18px;
    color: var(--black);
    align-items: center;
    margin: 10px;
    cursor: pointer;
}

.privacy-policy {
    display: flex;
    justify-content: center;
}

.privacy-policy li div {
    margin: 10px;
    cursor: pointer;
}

@media (max-width: 1000px) {
    .foot-section {
        min-width: 200px;
        padding-left: 40px;
    }

    .footer-logo {
        width: 200px;
    }

    .below-footer-links {
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 600px) {
    .foot-section {
        padding-left: 0px;
    }
}